<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoveUrButt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CC09E201D8127D40036B964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC09E371D8127D50036B964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC09E421D8127D50036B964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
